In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [93]:
df_users = pd.read_csv('users.csv')
df_users = df_users.drop_duplicates(subset='username')
df_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4223 entries, 0 to 4467
Data columns (total 7 columns):
_id                       4223 non-null object
username                  4223 non-null object
uid                       4223 non-null object
attraction_review_name    4223 non-null object
nb_cities_visited         4223 non-null object
src                       4223 non-null int64
nb_contributions          4223 non-null object
dtypes: int64(1), object(6)
memory usage: 263.9+ KB

In [94]:
df_reviews = pd.read_excel('reviews_32618_for_1098_users_with_location.xlsx')
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32580 entries, 0 to 32579
Data columns (total 12 columns):
id              32580 non-null int64
username        32580 non-null object
type            32580 non-null object
date            32580 non-null datetime64[ns]
title           32580 non-null object
text            32579 non-null object
rating          32580 non-null int64
helpfulness     24105 non-null float64
total_points    32580 non-null int64
taObject        32580 non-null object
taObjectUrl     32580 non-null object
taObjectCity    32580 non-null object
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 3.0+ MB

In [95]:
df = df_reviews.pivot_table(index='username',columns=['taObjectCity'],values='rating',aggfunc=np.mean)

In [6]:
#df = df.fillna(0)
df.info()
df.iloc[[103],:]

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, 422 to Farnborough
Columns: 5927 entries, Aachen to Г€ze
dtypes: float64(5927)
memory usage: 49.7+ MB

taObjectCity,Aachen,Aamby Valley City,Aarhus,Abbots Salford,Abbotsford,Aberaeron,Abercraf,Aberdeen,Aberdyfi (Aberdovey),Aberfeldy,...,Zipaquira,Zippori,Zoeterwoude,Zonnebeke,Zrece,Zurich,Zurs,Zwolle,Г–stersund,Г€ze
username,,,,,,,,,,,,,,,,,,,,,
ASWh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

In [7]:
count_list = []
for i in df.columns:
    count_list.append(df[i].sum())
print(np.mean(count_list))

12.648322906435409

In [8]:
df.head()

taObjectCity,Aachen,Aamby Valley City,Aarhus,Abbots Salford,Abbotsford,Aberaeron,Abercraf,Aberdeen,Aberdyfi (Aberdovey),Aberfeldy,...,Zipaquira,Zippori,Zoeterwoude,Zonnebeke,Zrece,Zurich,Zurs,Zwolle,Г–stersund,Г€ze
username,,,,,,,,,,,,,,,,,,,,,
422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1771,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2093,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
df.loc[((df.loc[:,:]*df.loc["ASWh",:]).count(axis='columns')>1),:].info()

<class 'pandas.core.frame.DataFrame'>
Index: 488 entries, 422 to FanMan10
Columns: 5927 entries, Aachen to Г€ze
dtypes: float64(5927)
memory usage: 22.1+ MB

In [97]:
def find_n_nearest_neighbors(username,n=5):
    dict_neighbours = {}
    df_common = df.loc[((df.loc[:,:]*df.loc[username,:]).count(axis='columns')>1),:]
    df_common = df_common.loc[:,df_common.loc[username,df_common.loc[username,:]>0].index]
    for val,row in df_common.iterrows():
        set_rated = df_common.loc[[val,username],(df_common.loc[val,:]*df_common.loc[username,:])>0].columns
        sim = np.sum(df_common.loc[val,set_rated]*df_common.loc[username,set_rated])/np.sqrt((np.sum(df_common.loc[val,set_rated]**2))*(np.sum(df_common.loc[username,set_rated]**2)))
        dict_neighbours[val] = sim
    return dict_neighbours

In [98]:
dict_neighbours = find_n_nearest_neighbors('ASWh')

In [99]:
for key,item in dict_neighbours.items():
    print(str(key) + ' : ' + str(item))

422 : 0.9213907332595919
2093 : 0.9282581277609508
243345 : 0.9103664774626049
678855 : 0.9317550856793111
007solotraveler : 0.9993077047272493
10179k79 : 0.9761870601839526
124_10 : 0.999028234937562
1969ws : 0.9992467751496917
1975mark : 0.997785157856609
1984travel : 0.994623070946234
19katy80 : 0.9837174318379912
1Angie : 0.9938837346736188
1NicePerson : 0.994284170984449
1Vegas2008 : 0.9995120760870788
2008travellover : 0.9661807419087547
2011ChgoWanderer : 0.9999134461416996
23betty : 0.9843366432473037
25YearsAbroad : 0.999028234937562
29grapes : 0.9542095375510589
2Travelers2go : 0.9472174043614027
2toots : 0.9067473823021557
32369Terry : 0.9970544855015815
3kidsmama : 0.958663799040612
45Jen : 0.999028234937562
4959keeton : 0.9965960742937383
54Penny : 0.997785157856609
6079max : 0.9956241531340855
6dogs : 0.9337191657012796
7ContinentsX : 0.9978654315820765
A.Brouwer : 0.9817580328368792
AA75 : 0.9723299610314361
AANetherlands : 1.0
ABCDEFG_1234 : 0.904205749785131
ABitSpoiled : 0.9890562714788714
ABrotmann : 0.9768622931916621
AD09 : 1.0
AHM : 0.9971138326654202
AJ002 : 0.9954356294638322
AJBoston5996 : 0.9571572339128496
AJC22 : 0.9255469562056767
AJtripper : 0.9994259471398348
ALLIGATOR9 : 0.9970544855015816
ALP86 : 0.9268381382650037
ALiEN2108 : 0.941716963891683
AM__26__AP : 0.9684959969581862
AQMRN : 0.9962554489643136
ARKJ14 : 0.9988681377244374
ASN1972 : 0.973021379257294
ASWh : 1.0
ATP1 : 0.950594518992266
AURACE : 0.9981755951151362
AUandUKcitizen : 0.9582563802400886
AV_Surrey : 0.9865784382418658
AZStaish : 0.9592608133389847
A_Florida_Traveler : 0.9805023832991071
Abigailadamsn00 : 0.9783832418816817
AceTexas : 0.9899494936611664
Activetravell3r : 0.9704420193609427
Adam20191 : 1.0
AdamVancouver_BC : 0.9343350578733124
AdelaideNev : 0.9743911956946198
AdrianandLoretta : 0.9760071462084157
Adventure2009 : 0.9637111876147434
Aelwyn : 0.9629423017012511
Agent9 : 0.9933153306184187
AhNOUR : 1.0
AhmetD : 0.9874291113861778
Aidasas : 0.9992180910535962
Ainom : 0.9698731283505666
Aives : 0.9152257157897973
Akramdash : 0.997894847495277
AlNic : 0.9938837346736188
AlabamaTraveler0 : 0.9972413740548082
Alchemy1200 : 0.9849597168564074
Alessandragerard : 0.9768998733528754
AlexandrP : 0.9977851578566089
Alfanumeric : 0.9787993827788335
AliDUk : 0.9749868245744565
Alison186470 : 0.98639270673728
AlisonandBill : 0.9999026284895912
Alkeshmehta : 0.9938837346736188
Almousa : 0.9793749265170928
Alverson : 0.9958927899853595
AlvinTSingapore : 0.9642211531143473
Alxon : 0.9920102481167961
AlysonSP : 0.9911504424778761
Amarone61 : 0.9889971645923525
Amerisam : 0.9978801059658183
Amesthyite : 0.9899494936611665
AmyKinPhX : 0.9931579831093371
AmyL55 : 0.8484699168018354
AnaS1 : 0.9998377150265197
AnarKhaos : 0.9951580892710009
Andariego : 0.9892646443964505
AndiJ_AJ : 0.9982743731749958
Andrea63 : 0.969931109612837
Andrey_Buzin : 0.9725596456894409
AndyCatChilliwack : 0.9761870601839526
Anecdotal : 0.9932254604502567
Angel84India : 0.9783497031189412
Angela1702 : 0.9882715561933471
Angelschild : 0.9986812837212958
AngusAsh : 0.9865275807020647
Anna1834 : 0.9260923597695476
AnnaC23 : 0.9970544855015816
Anna_Shaws_Holidays : 0.9868353776966746
AnniiL : 0.999552860529452
Anrmd : 0.9778854722567123
Antoinette78 : 0.9899494936611667
Antsy280 : 0.947275843773711
Aprile_24 : 0.9999942545740772
Aquarian_Mermaid : 0.8721430411136099
Archerandchewy : 0.9682773237093577
ArtRussianMom : 0.979388073621259
Arthur010 : 0.9871207991138725
AryanaToronto : 0.9672410070385474
Ashiyadudeman : 0.9285714285714286
AshleyDCandBrussels : 0.9938330302002205
AskingForHelp : 0.9965457582448795
AstonUk : 0.9341603514425537
Astrid72 : 0.9899494936611667
Atena : 0.9977851578566089
Atl30309 : 0.9711029684226986
AtomicTraveller : 0.9899494936611665
Auli51 : 0.9938837346736188
AusBeagle : 0.9971215690218574
AusTravellerSydney : 0.9715263474999191
AusTripPlanner : 0.9999479424242861
AusfamItaly : 0.9835061489629455
AussieTraveller1983 : 0.9081257823040839
Aussie_Andrew : 0.9835665047875173
AustenWodehouse : 0.9518605578567333
AustinBeach001 : 0.9827523508376695
Austinguytexas : 0.997785157856609
Ausyuppy : 0.9971641204866132
Avishai625 : 0.91546586346442
Avsecken : 0.9946917938265512
AwakenTampa : 0.9981149841863163
AyannaFlorida : 0.9608727911181613
B-Abroad : 0.9747323185282742
BBunbun : 0.9998796421445575
BC_Eagle_JD : 0.9899494936611665
BCtraveler44 : 0.9805806756909201
BDL999 : 0.9772671335813472
BE-Pieter : 1.0
BEYLHR : 0.9692343460558079
BJC84 : 0.9861609734114074
BMBeer : 0.9945054529214061
BMWM5Driver : 0.9736836107637614
BMWilliams1982 : 0.9899494936611667
BTH1 : 0.99968070324295
BTT : 0.9843366432473037
BabsLimerick_Ireland : 0.9986876634765884
Badgerhound : 0.9899494936611665
Badgerjim : 0.9991034765370633
Badlydrawngirl : 0.9976314022958258
Bafio : 0.9401021481358628
BaggageAllowance : 0.9647638212377322
Baidoo : 0.9852276540495697
Baldvin_and_Grace : 0.9879760593866032
BambangKaro : 0.9901475429766744
BandiB : 0.9999999999999999
Bangkokexpat : 0.939536991920639
Barb228 : 0.9879717411465178
BarbM2015 : 0.9944445573364642
Bariloche-61 : 0.9977851578566089
Barmag : 0.9860101537443726
Barnaby_Jones : 0.9962973038009288
BaronVonNick : 0.9938445785663798
BarryBethal : 0.9568312063328549
BarryC2010 : 0.9680286778811074
Baxman : 0.9186999106496676
Bazzer73 : 0.9971641204866132
BeATraveler : 0.9813949497503016
BeMySamaritan : 0.9879717411465178
Beaches2626 : 0.9687741805046263
Bearable1 : 0.9810923869507111
Bearded_Beast : 0.9838699100999074
BeatriceNY : 0.9538416799073748
Beaverlea_10 : 0.9951554897283231
BecSutb : 0.9573762493331472
BeckyCooper : 0.9992009587217894
Bee833 : 0.9854968884042173
BeingUs : 0.9752694546851118
Bel20 : 0.9997098084674824
Belgian_EU : 0.9734837502169924
BellsHollow : 0.9315776194850602
Benjamin_S : 0.9642088512100443
BennyDoran : 0.9834275543559684
BergenRoy : 0.9977681081549643
Bergern : 0.9843366432473037
BermyBye : 0.9874421563233773
Bertrand_FRA : 0.9792516961663948
Bertybign : 0.803798468353459
Betabloke : 0.9999022100525727
Betsyat240 : 0.9904166653227318
Beverley29 : 0.9843366432473037
BienVago : 0.9878027755414865
Bigdaddi0 : 0.8574929257125441
Bignbeefy : 0.8923543557893895
Bill_Fareham : 0.9921572222264535
BinDereDoneDat : 1.0
Bingenheimer : 0.9982743731749958
Bird-Bird-Blogger : 0.9955794851491648
Birdbrain72 : 0.9899494936611664
BirminghamJollyBoy : 0.9990282349375621
BirminghamLola : 0.8426962598121401
Biz_Traveller008 : 0.9752007502196113
Blairz : 0.9473039717697647
Blerke : 0.9977851578566089
BlindNinja : 0.9102096422876973
Blitchy : 0.9824865243069564
Blue_Norseman : 0.9999959493133074
Bluechip78 : 0.999796588918634
Blueyedworldtraveler : 0.8541985556144386
Blurgeshmurg : 0.9682374352500128
BobDong : 0.9899494936611665
BobHarvey : 0.963876179698446
Bohemia123 : 0.9260923597695476
Bollinge : 0.9899494936611667
Bolotet : 0.9899494936611665
Bon_voyage79 : 0.97911525080077
Bonbon1399 : 0.8439197572629233
Bondsammax : 0.9420596032878508
Bookend48 : 0.9715275981527515
Bookflyer : 0.9952168927224415
BostonRico : 0.9459116786431817
Bowtell : 0.9999999999999999
BradandJanet : 0.9999756180697374
BrasilRoma : 0.9977851578566089
Brazil_Fan1 : 0.9977851578566089
BrendaBaltimore : 0.9970544855015815
Brian5900 : 0.9859511313855469
Brightrob : 0.9927804231509061
BrisbaneMegan : 0.9834039088636534
Bristo : 0.9719632244806857
Britsabroad2010 : 0.9964624914401429
BronwenL : 0.9947814386110524
Bronz01 : 0.993933310908138
Bruno80799 : 0.990830168044299
Bubsta : 0.9978801059658182
BuddyPUSA : 0.9348973103150184
Buff_G : 0.9941916669870152
Bunnydots : 0.9762598128700924
Burgeoning_traveller : 0.9977851578566089
BusinessTraveller019 : 0.9841270174450972
Busterkitty : 0.9938837346736188
Button_382 : 0.997785157856609
C-Stop : 0.9925226089891658
CAGirl411 : 0.9944754849426967
CAMoraga_Family : 0.9973403328424214
CAWWales : 0.9977851578566089
CB_Aberdeen : 0.9345600729959503
CBacha : 0.9943835301478389
CC161 : 0.9892078012160131
CFFour : 0.999947942424286
CHM1 : 0.9869839072165317
CJCPHXAZ : 0.9977851578566089
CJIMI : 0.9896026727559052
CJohannessen : 0.9916453075518484
CJwellsy : 0.9899494936611664
CMC777 : 0.9748833314835403
COCOFromOttawa : 0.9021342216356465
CPAALP : 0.9999022100525728
CTA76 : 0.9968872458122527
CTwydale : 0.9860540575353747
Caiybpf : 0.9977927963155577
CalalilyD : 0.9993810551137522
Calibrator : 0.9796873505115851
Calnev : 0.9715396984647364
Camilla_Kim : 0.9987474743543774
Campanellis : 0.9778024140774094
Campbie : 0.9981374326954967
CanadaMatt : 0.9781809314362248
Canadagrrl : 0.9685541378992955
CanberraJenny : 1.0
Caomhinstravels : 0.9977851578566089
Capodicapi2 : 0.9878603312221296
CaptainD4 : 0.9988024461528673
Carltona : 0.9995997420399573
Carol34859 : 0.9910476003087768
Carol__26__Kevin : 1.0
CarolineMcMuffin : 0.9808121534142833
Cary101 : 0.9971641204866132
Cashmra : 0.9960141559712027
CathP : 0.9962201891951334
CathyOhio : 0.9934590973542853
Causette1 : 0.9749242329362375
CazRob : 0.9849867014122248
Cestovatel_W : 0.9950371902099892
ChaletLaGiettaz : 0.9774646873494854
Chanika : 0.9970544855015815
Charcar : 0.9843366432473037
Charlemaine : 0.9701425001453319
Charlesgate : 0.9814107336887886
Charliegirl211 : 0.9724704197481403
ChatVoyageur : 0.9909998295955158
CheersTravelGuy : 0.8173668252462817
Cheeser_9 : 0.9970544855015815
Cheledonna : 0.9858712330124332
Chellis74 : 0.9922778767136677
CherlyLondon : 0.9960141559712028
CherrySlurpees : 0.9517880833944322
CherylABQ : 0.9761870601839526
CheshireDesire : 0.9572756411177809
ChicagoChik77 : 0.9960973129748616
ChicagoLondon : 0.9867953532663438
Chicagotraveler83 : 0.9982614312609954
Cholako : 0.9963171748791766
Chris295424 : 0.9668140073019442
ChrisCymru : 0.997785157856609
ChrisLondon_UK : 0.9673190862839757
ChrisNCL : 0.8906291815245281
Chris_Battersea : 0.985661293362909
Chris_Jetten : 0.9977851578566089
Chris_Sandeman : 0.9288648464902289
ChristinaF : 0.9978801059658183
Christina_Poursain : 0.9811482730462594
Christofofofof : 0.992969883324358
Chuck1001 : 0.9783497031189412
Chunkymicky : 0.9682773237093577
Cinghio : 0.9647638212377322
ClaesMartin : 1.0
ClaireUK87 : 0.9899494936611665
ClareKEssex : 0.964763821237732
ClayDublin : 0.9940633368018771
CliffWalker : 0.9879198263588991
ClintonJ1 : 0.9994310296404774
ClovaTheWestie : 0.9734027903595365
Colatown : 0.997458699830735
Cole17 : 0.8944271909999159
ColleenNigel : 0.997785157856609
Conk99 : 0.9566807697649697
ConstantTraveller74 : 0.9967735439968807
Corb2000 : 0.9993319254139399
CorkBuckley : 0.9843366432473037
CorkeyWilson : 0.9945991013711017
Courtesy_Flush : 0.9873214881620294
CowTails : 0.9985587160759367
CraigB1970 : 0.9994449069791543
Craigy : 0.9528392760350913
Cramz : 0.9837353641890942
Crumpet2009 : 0.9993983108229038
Cryjam : 0.98639270673728
Cthusky322 : 0.9914759143647732
CubsFan3113 : 0.9669898501695057
Curious_journey : 0.9653633930282663
CurlySarah : 0.9676172723968439
Cuttingblade : 0.9871674143928627
CymroDyserth : 0.9302150622234318
CyndersLovesToTravel : 0.9847319278346618
Cyril1 : 0.9518605578567333
DAISYBOO17 : 0.8728573874893094
DC20something : 0.9986178293325098
DCBiztraveler : 0.9392353652826975
DCLW : 0.9255469562056767
DCMontreal : 0.8741572761215377
DCS2009 : 0.8574929257125442
DCTerry : 0.9965020032728739
DCreelman : 0.9713978079038899
DJH-in-Austin : 0.954234419915569
DJNYC212 : 0.9713990064967775
DJTOBY : 0.9999690457086087
DLagent : 0.9977851578566089
DNemo : 0.9992418817088269
DRNS-London : 0.889817462812737
DRoachBlackRock : 0.9945054529214061
DWJK : 0.7885380323041917
D_and_LWales_UK : 0.97633993924453
DadRob : 0.9843366432473037
Dafyda : 0.9822624316360803
DagneyT : 0.9422693018636911
DaisyFred : 0.9650646151092203
DallasChris : 0.997785157856609
Danglebone : 0.945062060407821
DanielleButton : 0.9978436632588642
DapaNewcastleEngland : 0.9977851578566089
DarlingtonWatsons : 0.9783497031189412
Darlox : 0.9971641204866132
Daveo_1978 : 0.9899494936611664
David186336 : 0.9908767999326477
DavidCF36 : 0.9435657278123605
DavidCarr404 : 0.9931283427824577
DawgmanOH : 0.9841270174450972
DawnJOhannesburg : 0.9797958971132713
Dazzer6666 : 0.9999999999999999
Deanna12 : 0.9984061344617969
DebRichM : 0.9865275807020647
Deborah0008 : 0.9873632584008492
Deckwalker : 0.9061723033952529
Dee-ward : 0.9656157585206697
Def90 : 0.9713978079038899
DeliKIZ : 0.9886187812922512
Demoleo : 0.9884235081251134
Denby : 0.9960141559712028
DennisvdMolen : 0.9901475429766744
Desert-dweller_99 : 0.999028234937562
Destichado : 0.9929627907099238
Devon_girls : 0.9948910642508874
DianeChayer : 0.8862254439618369
DitaV2 : 0.9945054529214061
Dobson-Shaw : 0.9597334443930291
DocSurf : 0.998392203851489
Dodson : 0.9998377150265197
Dogfish60min : 0.9999993572643112
Doloads : 0.9778024140774094
Domenicd2000 : 0.9978710002466102
Don5617 : 0.9970544855015816
Doobie95 : 0.9701425001453319
Dopanijoso : 0.9993833320279735
Doratheexplorer41 : 0.9824865243069564
Dorfer : 0.9642365197998375
Dougdog : 0.9785497849867489
Dougiebear : 0.9799366622741316
Dr._Bob_4 : 0.9819582493617021
DrRingDing : 0.97160310085991
DrWolf : 0.9992779156819375
Dr_Muneera : 0.997785157856609
DriveRideOrFly : 0.9484078841604242
DublinHank : 0.9931283427824577
Duggars : 0.9995733462364293
Dzinkstet : 0.9914542955425437
EAM01 : 0.9899494936611667
EBNY_15 : 0.9701425001453319
ECB2010 : 0.9657606693734544
EC_Traveller : 0.9604013891800168
EEYORETIGGERR : 0.9967092403045028
EGANSMIND : 0.9978602510026409
EMTBStation53 : 0.9970544855015816
ERT786 : 0.9497264922899863
ESLteacherNewYork : 0.9916453075518484
Eagle7345 : 0.9926289537385894
Earlham99 : 0.9982743731749958
EarlysvilleTraveller : 0.9837580471890929
EarnyinLA : 0.984613218483386
Earsby : 0.9433123908373908
Earthbound-Traveler : 0.9943292519651525
EastCoastRoadWarrior : 0.9718750904274159
Eddie_tangjitsatukij : 0.9977851578566089
Eklondon : 0.9682773237093576
ElTiante23 : 0.9929018306352257
Electricwireless : 0.9451247121831624
ElhamValleyMan : 0.9779489663530303
ElisaDP : 0.9911504424778761
ElizabethDawn : 0.9999999999999999
Ell1etravels : 0.9844877612337304
Elman1952 : 0.985181035449598
Emad_Ladonni : 0.9899494936611665
EmilyWaugh : 0.9486832980505138
Emiwillseetheworld11 : 0.9999479424242861
Emma8630 : 0.9955795027140815
Emzaro : 0.9301343806908234
Engangskamerat : 0.9429903335828895
England1983 : 0.9993232064196901
EnglandJa : 0.9646026885116992
EnglishKnight2010 : 0.9607905615265497
Entente-cordiale : 0.9994198694218057
EquineDoc : 0.944363960225359
Erinluvsire : 1.0
Ervaan : 1.0
Escape23 : 0.9999022100525727
Esqbyday : 0.9751923381832793
EssexBarnes : 0.9741087893834061
Essexfamilyontour : 0.9713990064967774
Estrella1302 : 0.9518605578567333
Etien : 0.9250997639679185
Eugene3739 : 0.936980204786319
Europamonkey : 0.9740625680076508
Evangelista : 0.7761140001162654
Evanston_Jeff : 0.9280350151131137
Eve159 : 0.9990282349375621
Everlong08 : 0.9873441100165058
Evgenia_87 : 0.9701425001453319
Explorer1012 : 0.9996143979997307
ExplorerX9 : 0.8574929257125442
F14Captain : 0.9999022100525728
FBIAgent : 0.8960338778697972
FDanvers : 0.9308032247638603
FES : 0.978518665483974
FSHK : 0.9401693711127055
Fa-HEE-tahs : 0.9857364255104073
FabioEKarin : 0.9992009587217894
FabulousTravels : 0.9967290481146759
FairTaxBill : 0.9922778767136676
FairmindedTraveler : 0.9860312881523015
Family1192 : 0.9191475290758202
FamilyFlight : 0.9857911613003587
FanMan10 : 0.9836664599048185

In [100]:
df_pers = pd.read_excel('pers_scores_1098.xlsx',index_col = 'username')
df_pers = df_pers.subtract(df_pers.min(axis=0),axis=1).divide(df_pers.mean(axis=0)-df_pers.min(axis=0),axis=1)
df_pers_neighbours = df_pers.loc[dict_neighbours.keys(),:]
df_pers_neighbours = (df_pers_neighbours.loc['ASWh',:]*df_pers_neighbours).divide(np.sqrt((np.sum(df_pers_neighbours.loc['ASWh',:]**2))*((df_pers_neighbours**2).sum(axis=1))),axis=0).sum(axis=1)

In [101]:
df_sim = ((pd.Series(dict_neighbours) + df_pers_neighbours)/2).drop('ASWh')

In [102]:
print(df.loc[['AnaS1','ASWh'],(df.loc['AnaS1',:]*df.loc['ASWh',:])>0])

taObjectCity  New York City  Paris
username
AnaS1              4.500000    4.0
ASWh               4.666667    4.0

In [103]:
sorted_df_sim = df_sim.sort_values(ascending=False)[:10]
sorted_df_sim

AlisonandBill       0.999873
AnaS1               0.999818
Dodson              0.999806
AnniiL              0.999714
BradandJanet        0.999684
1Vegas2008          0.999633
F14Captain          0.999588
Dogfish60min        0.999532
2011ChgoWanderer    0.999524
Aidasas             0.999478
dtype: float64

In [107]:
neighbours = sorted_df_sim.index
sims = sorted_df_sim.values
condition = np.logical_or(df.loc[neighbours[1],:]>0,df.loc[neighbours[2],:]>0)
for i in range(3,len(neighbours)-1):
    condition = np.logical_or(condition,df.loc[neighbours[i],:]>0)
df_neighbours = df.loc[neighbours,condition]
df_prediction = df.loc['ASWh',:].mean() + df_neighbours.sub(df_neighbours.mean(axis='columns'),axis=0).multiply(sims,axis=0).sum().divide(df_neighbours.multiply(sims,axis=0).sum())
df_prediction.sort_values(ascending=False)

taObjectCity
Belgrave             4.144643
Killarney            4.144643
Ferntree Gully       4.144643
Gold Coast           4.118958
Barcelona            4.118958
Orange               4.118958
Nanaimo              4.080392
Stockholm            4.080392
Field                4.037667
Lake Louise          4.037667
Corolla              4.037667
Wheaton              4.037667
Tulsa                4.037667
Katoomba             4.035880
Montpellier          3.995238
New York City        3.987138
Rome                 3.987010
Santa Fe             3.974545
Century City         3.974545
Auckland             3.974545
Lahaina              3.974545
Amsterdam            3.974545
Weehawken            3.974545
Singapore            3.964137
Berlin               3.958095
Budapest             3.957948
Corvallis            3.956667
Tacoma               3.956667
Seattle              3.956667
Prague               3.956667
                       ...
London               3.830529
East Glacier Park    3.830417
York                 3.830417
Orlando              3.830417
Pitlochry            3.830417
Washington DC        3.781579
Venice               3.767096
Buenos Aires         3.746259
Daylesford           3.745104
Victoria             3.743417
Richmond             3.743417
Las Vegas            3.727903
Jasper               3.682381
Dublin               3.663294
Launceston           3.663294
Mascot               3.663294
Quebec City          3.559524
Garanhuns            3.559524
Biarritz             3.556209
Montrouge            3.556209
Almere               3.556209
Banff                3.485000
Kalispell            3.485000
West Glacier         3.485000
Brisbane             3.427291
Canberra             3.371250
Warwick              3.371250
Kingston             1.256548
Vincennes            0.406061
Olympia              0.316667
Length: 94, dtype: float64

In [92]:
df_neighbours = df_neighbours.replace(0,np.nan)
df_prediction = df.loc['ASWh',:].replace(0,np.nan).mean() + df_neighbours.sub(df_neighbours.mean(axis='columns'),axis=0).multiply(sims,axis=0).sum().divide(df_neighbours.multiply(sims,axis=0).sum())
df_prediction.sort_values(ascending=False)

taObjectCity
Belgrave             4.144643
Killarney            4.144643
Ferntree Gully       4.144643
Gold Coast           4.118958
Barcelona            4.118958
Orange               4.118958
Nanaimo              4.080392
Stockholm            4.080392
Field                4.037667
Lake Louise          4.037667
Corolla              4.037667
Wheaton              4.037667
Tulsa                4.037667
Katoomba             4.035880
Montpellier          3.995238
New York City        3.987138
Rome                 3.987010
Santa Fe             3.974545
Century City         3.974545
Auckland             3.974545
Lahaina              3.974545
Amsterdam            3.974545
Weehawken            3.974545
Singapore            3.964137
Berlin               3.958095
Budapest             3.957948
Corvallis            3.956667
Tacoma               3.956667
Seattle              3.956667
Prague               3.956667
                       ...
London               3.830529
East Glacier Park    3.830417
York                 3.830417
Orlando              3.830417
Pitlochry            3.830417
Washington DC        3.781579
Venice               3.767096
Buenos Aires         3.746259
Daylesford           3.745104
Victoria             3.743417
Richmond             3.743417
Las Vegas            3.727903
Jasper               3.682381
Dublin               3.663294
Launceston           3.663294
Mascot               3.663294
Quebec City          3.559524
Garanhuns            3.559524
Biarritz             3.556209
Montrouge            3.556209
Almere               3.556209
Banff                3.485000
Kalispell            3.485000
West Glacier         3.485000
Brisbane             3.427291
Canberra             3.371250
Warwick              3.371250
Kingston             1.256548
Vincennes            0.406061
Olympia              0.316667
Length: 94, dtype: float64