In [190]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
import operator

In [28]:
df_users = pd.read_csv('users.csv')
df_users = df_users.drop_duplicates(subset='username')
df_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4223 entries, 0 to 4467
Data columns (total 7 columns):
_id                       4223 non-null object
username                  4223 non-null object
uid                       4223 non-null object
attraction_review_name    4223 non-null object
nb_cities_visited         4223 non-null object
src                       4223 non-null int64
nb_contributions          4223 non-null object
dtypes: int64(1), object(6)
memory usage: 263.9+ KB

In [56]:
df_reviews = pd.read_excel('reviews_32618_for_1098_users_with_location.xlsx')
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32580 entries, 0 to 32579
Data columns (total 12 columns):
id              32580 non-null int64
username        32580 non-null object
type            32580 non-null object
date            32580 non-null datetime64[ns]
title           32580 non-null object
text            32579 non-null object
rating          32580 non-null int64
helpfulness     24105 non-null float64
total_points    32580 non-null int64
taObject        32580 non-null object
taObjectUrl     32580 non-null object
taObjectCity    32580 non-null object
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 3.0+ MB

In [61]:
df = df_reviews.pivot_table(index='username',columns=['taObjectCity'],values='rating',aggfunc=np.mean)

In [103]:
df = df.fillna(0)
df.info()
df.iloc[[103],:]

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, 422 to Farnborough
Columns: 5927 entries, Aachen to Г€ze
dtypes: float64(5927)
memory usage: 49.7+ MB

taObjectCity,Aachen,Aamby Valley City,Aarhus,Abbots Salford,Abbotsford,Aberaeron,Abercraf,Aberdeen,Aberdyfi (Aberdovey),Aberfeldy,...,Zipaquira,Zippori,Zoeterwoude,Zonnebeke,Zrece,Zurich,Zurs,Zwolle,Г–stersund,Г€ze
username,,,,,,,,,,,,,,,,,,,,,
ASWh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

In [63]:
count_list = []
for i in df.columns:
    count_list.append(df[i].sum())
print(np.mean(count_list))

12.648322906435409

In [65]:
df.head()

taObjectCity,Aachen,Aamby Valley City,Aarhus,Abbots Salford,Abbotsford,Aberaeron,Abercraf,Aberdeen,Aberdyfi (Aberdovey),Aberfeldy,...,Zipaquira,Zippori,Zoeterwoude,Zonnebeke,Zrece,Zurich,Zurs,Zwolle,Г–stersund,Г€ze
username,,,,,,,,,,,,,,,,,,,,,
422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1771,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2093,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5264,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [166]:
df.loc[((df.loc[:,:]*df.loc["ASWh",:]).replace(0,np.nan).count(axis='columns')>1),:].info()

<class 'pandas.core.frame.DataFrame'>
Index: 488 entries, 422 to FanMan10
Columns: 5927 entries, Aachen to Г€ze
dtypes: float64(5927)
memory usage: 22.1+ MB

In [275]:
def find_n_nearest_neighbors(username,n=5):
    dict_neighbours = {}
    df_common = df.loc[((df.loc[:,:]*df.loc[username,:]).replace(0,np.nan).count(axis='columns')>1),:]
    df_common = df_common.loc[:,df_common.loc[username,df_common.loc[username,:]>0].index]
    for val,row in df_common.iterrows():
        set_rated = df_common.loc[[val,username],(df_common.loc[val,:]*df_common.loc[username,:])>0].columns
        sim = np.sum(df_common.loc[val,set_rated]*df_common.loc[username,set_rated])/np.sqrt((np.sum(df_common.loc[val,set_rated]**2))*(np.sum(df_common.loc[username,set_rated]**2)))
        dict_neighbours[val] = sim
    return dict_neighbours

In [181]:
dict_neighbours = find_n_nearest_neighbors('ASWh')

In [182]:
for key,item in dict_neighbours.items():
    print(str(key) + ' : ' + str(item))

422 : 0.32411613667785893
2093 : 0.2513399233521418
243345 : 0.48245614035087714
678855 : 0.20211993611151446
007solotraveler : 0.33499170812603646
10179k79 : 0.49450549450549447
124_10 : 0.5037037037037037
1969ws : 0.5073891625615764
1975mark : 0.5
1984travel : 0.3338834791219673
19katy80 : 0.25387205387205386
1Angie : 0.5
1NicePerson : 0.16655415811929397
1Vegas2008 : 0.507936507936508
2008travellover : 0.33295838020247465
2011ChgoWanderer : 0.5006587615283268
23betty : 0.4962962962962963
25YearsAbroad : 0.5037037037037037
29grapes : 0.2001870816947571
2Travelers2go : 0.1456931936948597
2toots : 0.24823529411764703
32369Terry : 0.5
3kidsmama : 0.32793522267206476
45Jen : 0.5037037037037037
4959keeton : 0.33458775230927124
54Penny : 0.5
6079max : 0.20014900289342824
6dogs : 0.4837092731829575
7ContinentsX : 0.33393829401088926
A.Brouwer : 0.14285132216925395
AA75 : 0.5365853658536586
AANetherlands : 0.3333333333333333
ABCDEFG_1234 : 0.34152102031176196
ABitSpoiled : 0.49725274725274726
ABrotmann : 0.4941520467836257
AD09 : 0.5022222222222222
AHM : 0.1438440346005942
AJ002 : 0.3328335832083958
AJBoston5996 : 0.24606151537884477
AJC22 : 0.4888888888888889
AJtripper : 0.5042735042735043
ALLIGATOR9 : 0.5
ALP86 : 0.3232876712328767
ALiEN2108 : 0.3290298082399848
AM__26__AP : 0.3333333333333333
AQMRN : 0.333134328358209
ARKJ14 : 0.5048076923076923
ASN1972 : 0.16786389413988656
ASWh : 0.03152071875385572
ATP1 : 0.16592519360685454
AURACE : 0.3331433456825307
AUandUKcitizen : 0.33424657534246577
AV_Surrey : 0.2516838000708968
AZStaish : 0.5122807017543859
A_Florida_Traveler : 0.24979114452798662
Abigailadamsn00 : 0.4946534653465345
AceTexas : 0.5
Activetravell3r : 0.20228256591892954
Adam20191 : 0.3379620942015388
AdamVancouver_BC : 0.4849999999999999
AdelaideNev : 0.5
AdrianandLoretta : 0.33254994124559345
Adventure2009 : 0.3405889884763124
Aelwyn : 0.19939914762803046
Agent9 : 0.33394762168028336
AhNOUR : 0.5
AhmetD : 0.2501661129568106
Aidasas : 0.5009009009009009
Ainom : 0.3287671232876712
Aives : 0.2506443298969072
Akramdash : 0.5021052631578947
AlNic : 0.5
AlabamaTraveler0 : 0.3333333333333333
Alchemy1200 : 0.2505050505050505
Alessandragerard : 0.3298208640674394
AlexandrP : 0.5
Alfanumeric : 0.2509943868257685
AliDUk : 0.24915254237288137
Alison186470 : 0.33789954337899547
AlisonandBill : 0.33406593406593404
Alkeshmehta : 0.5
Almousa : 0.33239323126510883
Alverson : 0.25089605734767023
AlvinTSingapore : 0.49650793650793656
Alxon : 0.16666666666666666
AlysonSP : 0.49777777777777776
Amarone61 : 0.3333333333333333
Amerisam : 0.5054945054945055
Amesthyite : 0.5
AmyKinPhX : 0.501775471182737
AmyL55 : 0.51010101010101
AnaS1 : 0.502262443438914
AnarKhaos : 0.5031055900621119
Andariego : 0.2523719165085389
AndiJ_AJ : 0.5
Andrea63 : 0.16451174724556017
Andrey_Buzin : 0.3358251868890167
AndyCatChilliwack : 0.49450549450549447
Anecdotal : 0.25142857142857145
Angel84India : 0.49523809523809526
Angela1702 : 0.49710144927536226
Angelschild : 0.25702247191011235
AngusAsh : 0.49750000000000005
Anna1834 : 0.4821428571428571
AnnaC23 : 0.5
Anna_Shaws_Holidays : 0.33261986301369856
AnniiL : 0.5032258064516129
Anrmd : 0.14291461329578597
Antoinette78 : 0.5
Antsy280 : 0.2477522477522478
Aprile_24 : 0.5
Aquarian_Mermaid : 0.4659090909090909
Archerandchewy : 0.49206349206349215
ArtRussianMom : 0.3333333333333333
Arthur010 : 0.24992248062015507
AryanaToronto : 0.3278259960263516
Ashiyadudeman : 0.25
AshleyDCandBrussels : 0.3349282296650718
AskingForHelp : 0.5042016806722689
AstonUk : 0.243598615916955
Astrid72 : 0.5
Atena : 0.5
Atl30309 : 0.49289891395154556
AtomicTraveller : 0.5
Auli51 : 0.5
AusBeagle : 0.3373552123552124
AusTravellerSydney : 0.19808850484420004
AusTripPlanner : 0.5025641025641027
AusfamItaly : 0.49714285714285716
AussieTraveller1983 : 0.24765868886576484
Aussie_Andrew : 0.2480603677330216
AustenWodehouse : 0.49166666666666664
AustinBeach001 : 0.49599999999999994
Austinguytexas : 0.5
Ausyuppy : 0.5047619047619047
Avishai625 : 0.3245614035087719
Avsecken : 0.5178571428571428
AwakenTampa : 0.3333333333333333
AyannaFlorida : 0.19716442268461853
B-Abroad : 0.5161290322580645
BBunbun : 0.3346175013758943
BC_Eagle_JD : 0.5
BCtraveler44 : 0.5681818181818182
BDL999 : 0.24969072164948455
BE-Pieter : 0.5029585798816567
BEYLHR : 0.32985507246376816
BJC84 : 0.3322400154350762
BMBeer : 0.5
BMWM5Driver : 0.19923866982690505
BMWilliams1982 : 0.5
BTH1 : 0.5019825535289453
BTT : 0.4962962962962963
BabsLimerick_Ireland : 0.5064935064935064
Badgerhound : 0.5
Badgerjim : 0.5244444444444444
Badlydrawngirl : 0.3359058460351148
Bafio : 0.3333333333333333
BaggageAllowance : 0.49107142857142855
Baidoo : 0.25137055837563455
Baldvin_and_Grace : 0.4971537001897533
BambangKaro : 0.3333333333333333
BandiB : 0.5102040816326531
Bangkokexpat : 0.3344748858447489
Barb228 : 0.33623188405797105
BarbM2015 : 0.27964300892477684
Bariloche-61 : 0.5
Barmag : 0.19889072686581688
Barnaby_Jones : 0.5051282051282051
BaronVonNick : 0.33288918498778586
BarryBethal : 0.2486053576360121
BarryC2010 : 0.49369369369369365
Baxman : 0.19219924812030076
Bazzer73 : 0.5047619047619047
BeATraveler : 0.2
BeMySamaritan : 0.33623188405797105
Beaches2626 : 0.3311036789297659
Bearable1 : 0.2506578947368421
Bearded_Beast : 0.5238095238095237
BeatriceNY : 0.3255639097744361
Beaverlea_10 : 0.20183654729109274
BecSutb : 0.25257731958762886
BeckyCooper : 0.5
Bee833 : 0.24857348357707978
BeingUs : 0.24798387096774194
Bel20 : 0.503030303030303
Belgian_EU : 0.24888888888888888
BellsHollow : 0.4823529411764706
Benjamin_S : 0.32727272727272727
BennyDoran : 0.250633338963013
BergenRoy : 0.33659491193737767
Bergern : 0.4962962962962963
BermyBye : 0.33171139899584695
Bertrand_FRA : 0.34575260804769004
Bertybign : 0.446969696969697
Betabloke : 0.5017543859649123
Betsyat240 : 0.3371858374610163
Beverley29 : 0.4962962962962963
BienVago : 0.24936500821754073
Bigdaddi0 : 0.5
Bignbeefy : 0.37719298245614036
Bill_Fareham : 0.4980392156862745
BinDereDoneDat : 0.5
Bingenheimer : 0.5
Bird-Bird-Blogger : 0.33444816053511706
Birdbrain72 : 0.5
BirminghamJollyBoy : 0.5037037037037037
BirminghamLola : 0.4736842105263157
Biz_Traveller008 : 0.49473684210526314
Blairz : 0.19787485242030697
Blerke : 0.5
BlindNinja : 0.322723609991942
Blitchy : 0.4957264957264957
Blue_Norseman : 0.5002373042240151
Bluechip78 : 0.5028985507246377
Blueyedworldtraveler : 0.46938775510204084
Blurgeshmurg : 0.3310810810810811
BobDong : 0.5
BobHarvey : 0.2010108599139403
Bohemia123 : 0.4821428571428571
Bollinge : 0.5
Bolotet : 0.49999999999999994
Bon_voyage79 : 0.25410977988297573
Bonbon1399 : 0.31939437635183854
Bondsammax : 0.48550724637681153
Bookend48 : 0.3287671232876712
Bookflyer : 0.5174603174603175
BostonRico : 0.48888888888888893
Bowtell : 0.5102040816326531
BradandJanet : 0.5024561403508773
BrasilRoma : 0.5
Brazil_Fan1 : 0.5
BrendaBaltimore : 0.5
Brian5900 : 0.34234234234234234
Brightrob : 0.25654008438818565
BrisbaneMegan : 0.3333333333333333
Bristo : 0.32986301369863014
Britsabroad2010 : 0.3339441136051306
BronwenL : 0.49872122762148335
Bronz01 : 0.5072765072765072
Bruno80799 : 0.497737556561086
Bubsta : 0.5054945054945055
BuddyPUSA : 0.2451971688574317
Buff_G : 0.33505501908825513
Bunnydots : 0.4949019607843137
Burgeoning_traveller : 0.5
BusinessTraveller019 : 0.5083333333333333
Busterkitty : 0.5
Button_382 : 0.5
C-Stop : 0.25000871961215165
CAGirl411 : 0.33648393194706994
CAMoraga_Family : 0.2503225806451613
CAWWales : 0.5
CB_Aberdeen : 0.24223744292237445
CBacha : 0.20060790273556228
CC161 : 0.2528344671201814
CFFour : 0.5025641025641026
CHM1 : 0.1994134897360704
CJCPHXAZ : 0.5
CJIMI : 0.3325522710886805
CJohannessen : 0.4979757085020242
CJwellsy : 0.5
CMC777 : 0.49525745257452575
COCOFromOttawa : 0.4791666666666667
CPAALP : 0.5017543859649123
CTA76 : 0.33508956796628026
CTwydale : 0.33201581027667987
Caiybpf : 0.3359683794466403
CalalilyD : 0.5012028869286287
Calibrator : 0.33043478260869563
Calnev : 0.20168067226890754
Camilla_Kim : 0.33719704952581664
Campanellis : 0.5185185185185185
Campbie : 0.5001841620626151
CanadaMatt : 0.19931049342814047
Canadagrrl : 0.49321266968325794
CanberraJenny : 0.5
Caomhinstravels : 0.5
Capodicapi2 : 0.3324343222455299
CaptainD4 : 0.2519519519519519
Carltona : 0.5096153846153846
Carol34859 : 0.4987080103359173
Carol__26__Kevin : 0.5022222222222222
CarolineMcMuffin : 0.25063131313131315
Cary101 : 0.5047619047619047
Cashmra : 0.5037593984962405
CathP : 0.4993197278911564
CathyOhio : 0.2505496653148972
Causette1 : 0.5227272727272727
CazRob : 0.33212716464202635
Cestovatel_W : 0.5
ChaletLaGiettaz : 0.32974559686888455
Chanika : 0.5
Charcar : 0.4962962962962963
Charlemaine : 0.5
Charlesgate : 0.3355855855855856
Charliegirl211 : 0.3340358271865121
ChatVoyageur : 0.33315068493150685
CheersTravelGuy : 0.47789473684210526
Cheeser_9 : 0.5
Cheledonna : 0.3309941520467837
Chellis74 : 0.5
CherlyLondon : 0.5037593984962405
CherrySlurpees : 0.491179839633448
CherylABQ : 0.49450549450549447
CheshireDesire : 0.49230769230769234
ChicagoChik77 : 0.5064102564102564
ChicagoLondon : 0.331601322626358
Chicagotraveler83 : 0.25188074672610755
Cholako : 0.20451719850808123
Chris295424 : 0.3287671232876712
ChrisCymru : 0.5
ChrisLondon_UK : 0.32971014492753625
ChrisNCL : 0.23636363636363633
Chris_Battersea : 0.16784974859509022
Chris_Jetten : 0.5
Chris_Sandeman : 0.3441780821917808
ChristinaF : 0.5054945054945055
Christina_Poursain : 0.4962406015037593
Christofofofof : 0.5016611295681063
Chuck1001 : 0.49523809523809526
Chunkymicky : 0.49206349206349215
Cinghio : 0.5
ClaesMartin : 0.5022222222222222
ClaireUK87 : 0.5
ClareKEssex : 0.49107142857142855
ClayDublin : 0.4987593052109181
CliffWalker : 0.3321681624940954
ClintonJ1 : 0.509963768115942
ClovaTheWestie : 0.4936075597554196
Colatown : 0.5
Cole17 : 0.47619047619047616
ColleenNigel : 0.5
Conk99 : 0.2454751131221719
ConstantTraveller74 : 0.25379939209726443
Corb2000 : 0.3339019189765459
CorkBuckley : 0.4962962962962963
CorkeyWilson : 0.33248081841432225
Courtesy_Flush : 0.4975999999999999
CowTails : 0.3337250293772033
CraigB1970 : 0.5016722408026756
Craigy : 0.326986795905247
Cramz : 0.25024437927663734
Crumpet2009 : 0.5016194331983805
Cryjam : 0.33789954337899547
Cthusky322 : 0.5008025682182986
CubsFan3113 : 0.49169435215946844
Curious_journey : 0.49333333333333335
CurlySarah : 0.5111111111111111
Cuttingblade : 0.24903831358670567
CymroDyserth : 0.33063427800269907
CyndersLovesToTravel : 0.3308270676691729
Cyril1 : 0.49166666666666664
DAISYBOO17 : 0.47744360902255634
DC20something : 0.5
DCBiztraveler : 0.48641975308641977
DCLW : 0.4888888888888889
DCMontreal : 0.5
DCS2009 : 0.4807692307692307
DCTerry : 0.3366093366093367
DCreelman : 0.3378995433789954
DJH-in-Austin : 0.3364993215739484
DJNYC212 : 0.5
DJTOBY : 0.5001788908765653
DLagent : 0.5
DNemo : 0.5
DRNS-London : 0.52
DRoachBlackRock : 0.5
DWJK : 0.3
D_and_LWales_UK : 0.332554762956884
DadRob : 0.4962962962962963
Dafyda : 0.25268817204301075
DagneyT : 0.4879032258064516
DaisyFred : 0.3283870967741936
DallasChris : 0.5
Danglebone : 0.20252549781447304
DanielleButton : 0.33333333333333337
DapaNewcastleEngland : 0.5
DarlingtonWatsons : 0.49523809523809526
Darlox : 0.5047619047619047
Daveo_1978 : 0.5
David186336 : 0.34035827186512113
DavidCF36 : 0.4902597402597403
DavidCarr404 : 0.33333333333333337
DawgmanOH : 0.5083333333333333
DawnJOhannesburg : 0.3333333333333333
Dazzer6666 : 0.5102040816326531
Deanna12 : 0.5003367003367004
DebRichM : 0.49750000000000005
Deborah0008 : 0.34127456819535434
Deckwalker : 0.1680695085528102
Dee-ward : 0.5306122448979592
Def90 : 0.3378995433789954
DeliKIZ : 0.2522128501509945
Demoleo : 0.2527245949926362
Denby : 0.5037593984962405
DennisvdMolen : 0.3333333333333333
Desert-dweller_99 : 0.5037037037037037
Destichado : 0.2511520737327189
Devon_girls : 0.3339951029051684
DianeChayer : 0.4835164835164835
DitaV2 : 0.5
Dobson-Shaw : 0.3287671232876712
DocSurf : 0.3338509316770186
Dodson : 0.502262443438914
Dogfish60min : 0.5002836074872377
Doloads : 0.5263157894736842
Domenicd2000 : 0.3356164383561644
Don5617 : 0.5
Doobie95 : 0.5
Dopanijoso : 0.5034013605442177
Doratheexplorer41 : 0.4957264957264957
Dorfer : 0.32894736842105254
Dougdog : 0.5080213903743316
Dougiebear : 0.4957983193277311
Dr._Bob_4 : 0.19872708273962192
DrRingDing : 0.3458904109589041
DrWolf : 0.5009523809523809
Dr_Muneera : 0.5
DriveRideOrFly : 0.32517482517482516
DublinHank : 0.33333333333333337
Duggars : 0.5040916530278231
Dzinkstet : 0.5066666666666667
EAM01 : 0.5
EBNY_15 : 0.5
ECB2010 : 0.33845214204694185
EC_Traveller : 0.32884615384615384
EEYORETIGGERR : 0.36363636363636365
EGANSMIND : 0.3340402969247084
EMTBStation53 : 0.5
ERT786 : 0.25164011246485474
ESLteacherNewYork : 0.4979757085020242
Eagle7345 : 0.5014577259475219
Earlham99 : 0.5
EarlysvilleTraveller : 0.2511715089034677
EarnyinLA : 0.2612820512820513
Earsby : 0.5142857142857142
Earthbound-Traveler : 0.4986666666666667
EastCoastRoadWarrior : 0.32876712328767116
Eddie_tangjitsatukij : 0.5
Eklondon : 0.49206349206349204
ElTiante23 : 0.3389003565396885
Electricwireless : 0.4909090909090909
ElhamValleyMan : 0.3333333333333333
ElisaDP : 0.49777777777777776
ElizabethDawn : 0.5102040816326531
Ell1etravels : 0.49753694581280783
Elman1952 : 0.4963119072708113
Emad_Ladonni : 0.5
EmilyWaugh : 0.5
Emiwillseetheworld11 : 0.5025641025641027
Emma8630 : 0.5018939393939394
Emzaro : 0.2538677918424754
Engangskamerat : 0.48571428571428577
England1983 : 0.5015384615384616
EnglandJa : 0.19888609414301112
EnglishKnight2010 : 0.4901315789473684
Entente-cordiale : 0.33603238866396756
EquineDoc : 0.2585263157894737
Erinluvsire : 0.5102040816326531
Ervaan : 0.5
Escape23 : 0.5017543859649123
Esqbyday : 0.33095890410958906
EssexBarnes : 0.32897201732818165
Essexfamilyontour : 0.5
Estrella1302 : 0.49166666666666664
Etien : 0.5533536585365852
Eugene3739 : 0.48760330578512395
Europamonkey : 0.3383838383838384
Evangelista : 0.45714285714285713
Evanston_Jeff : 0.19906201146430433
Eve159 : 0.5037037037037037
Everlong08 : 0.498759305210918
Evgenia_87 : 0.5
Explorer1012 : 0.3341441167528124
ExplorerX9 : 0.4807692307692307
F14Captain : 0.5017543859649123
FBIAgent : 0.19369103773584903
FDanvers : 0.32971014492753625
FES : 0.2508960573476703
FSHK : 0.3316028552887735
Fa-HEE-tahs : 0.5
FabioEKarin : 0.5
FabulousTravels : 0.5
FairTaxBill : 0.5012531328320803
FairmindedTraveler : 0.3348124243646632
Family1192 : 0.25504258180188255
FamilyFlight : 0.3354313217326916
FanMan10 : 0.5071895424836602

In [307]:
df_pers = pd.read_excel('pers_scores_1098.xlsx',index_col = 'username')
df_pers = df_pers.subtract(df_pers.mean(axis=0),axis=1).divide(df_pers.std(axis=0))
df_pers_neighbours = df_pers.loc[dict_neighbours.keys(),:]
df_pers_neighbours = (df_pers_neighbours.loc['ASWh',:]*df_pers_neighbours).divide(np.sqrt((np.sum(df_pers_neighbours.loc['ASWh',:]**2))*((df_pers_neighbours**2).sum(axis=1))),axis=0).sum(axis=1)

In [309]:
df_sim = (pd.Series(dict_neighbours) + df_pers_neighbours)/2
df_sim

422                   0.193097
2093                  0.250200
243345                0.348740
678855               -0.163190
007solotraveler       0.179903
10179k79              0.488399
124_10                0.114465
1969ws               -0.204070
1975mark              0.622019
1984travel            0.146838
19katy80              0.033707
1Angie               -0.029465
1NicePerson           0.135268
1Vegas2008            0.689500
2008travellover       0.609047
2011ChgoWanderer      0.691474
23betty               0.621158
25YearsAbroad         0.157656
29grapes              0.382518
2Travelers2go        -0.049192
2toots               -0.242533
32369Terry           -0.154188
3kidsmama             0.024963
45Jen                 0.657485
4959keeton            0.332259
54Penny               0.548063
6079max               0.441910
6dogs                -0.228594
7ContinentsX          0.319796
A.Brouwer            -0.235180
                        ...
Erinluvsire          -0.042393
Ervaan                0.195711
Escape23              0.168462
Esqbyday             -0.003182
EssexBarnes           0.218922
Essexfamilyontour     0.614379
Estrella1302          0.324138
Etien                 0.064965
Eugene3739            0.065850
Europamonkey          0.064494
Evangelista           0.126625
Evanston_Jeff         0.467582
Eve159                0.609225
Everlong08           -0.189203
Evgenia_87            0.675097
Explorer1012         -0.027981
ExplorerX9            0.164299
F14Captain           -0.217278
FBIAgent             -0.123703
FDanvers              0.387308
FES                  -0.012885
FSHK                  0.635752
Fa-HEE-tahs           0.292991
FabioEKarin          -0.237046
FabulousTravels       0.058733
FairTaxBill           0.215757
FairmindedTraveler    0.006870
Family1192           -0.122233
FamilyFlight          0.471886
FanMan10              0.131323
Length: 488, dtype: float64

In [195]:
print(df.loc[['Dee-ward','ASWh'],(df.loc['Dee-ward',:]*df.loc['ASWh',:])>0])

taObjectCity  London  New York City
username
Dee-ward         2.0       5.000000
ASWh             3.5       4.666667

In [319]:
sorted_df_sim = df_sim.sort_values(ascending=False)[:10]
sorted_df_sim

Chris_Jetten        0.735382
Dougdog             0.722737
ClaireUK87          0.722003
ARKJ14              0.719779
Anna1834            0.718277
Chunkymicky         0.714230
Charlemaine         0.703070
ClareKEssex         0.701063
BMBeer              0.700961
2011ChgoWanderer    0.691474
dtype: float64

In [321]:
neighbours = sorted_df_sim.index
sims = sorted_df_sim.values
condition = np.logical_or(df.loc[neighbours[1],:]>0,df.loc[neighbours[2],:]>0)
for i in range(3,len(neighbours)-1):
    condition = np.logical_or(condition,df.loc[neighbours[i],:]>0)
df_neighbours = df.loc[neighbours,condition]
df_neighbours = df_neighbours.replace(0,np.nan)
df_prediction = df.loc['ASWh',:].replace(0,np.nan).mean() + df_neighbours.sub(df_neighbours.mean(axis='columns'),axis=0).multiply(sims,axis=0).sum().divide(df_neighbours.multiply(sims,axis=0).sum())
df_prediction.sort_values(ascending=False)

taObjectCity
Dover                     4.181614
Warminster                4.181614
Fes                       4.148485
Kalavrita                 4.148485
Rome                      4.148485
Laguardia                 4.132681
Tavistock                 4.109524
Ham Tien                  4.072917
Pau                       4.072917
Hobart                    4.072917
Napa                      4.072917
New Orleans               4.072917
Saint-Yrieix-la-Perche    4.072917
Portland                  4.055556
Porlock                   4.055556
Stone                     4.055556
Manchester                4.055556
Singapore                 4.049652
Funchal                   4.047926
Payangan                  4.040385
Ko Samui                  4.040385
Newport -Trefdraeth       4.040385
Hensol                    4.040385
Hoi An                    4.040385
Felin Fach                4.040385
Hanoi                     4.040385
Lisbon                    4.040385
St. Petersburg            4.040385
Feering                   4.025397
Hong Kong                 4.023594
                            ...
Seville                   3.669697
Montpellier               3.669697
Agrigento                 3.669697
Stellenbosch              3.669697
Rabat                     3.669697
Athens                    3.669697
Saint-Malo                3.604762
Colchester                3.604762
Anaheim                   3.543750
Isla Mujeres              3.543750
Northampton               3.514815
Tusayan                   3.514815
Jackson                   3.514815
Lake Havasu City          3.514815
Shrewsbury                3.489530
Moscow                    3.489530
Beziers                   3.489530
Ubud                      3.489530
Newport                   3.489530
Tordesillas               3.154034
Kaliningrad               3.071212
Tolon                     3.071212
Coron                     2.882292
Bromley                   1.441402
Andover                   1.441402
Guildford                 1.441402
Jenner                    1.080952
Coldstream                0.897917
Aberporth                 0.735256
Amsterdam                 0.635897
Length: 129, dtype: float64

In [246]:
df_neighbours = df_neighbours.replace(0,np.nan)
df_prediction = df.loc['ASWh',:].replace(0,np.nan).mean() + df_neighbours.sub(df_neighbours.mean(axis='columns'),axis=0).multiply(sims,axis=0).sum().divide(df_neighbours.multiply(sims,axis=0).sum())
df_prediction.sort_values(ascending=False)

taObjectCity
Gullane                4.180000
Frankfurt              4.177632
Wichita                4.177632
Prague                 4.177632
Chelsea                4.177632
Denver                 4.177632
San Francisco          4.177632
Palma de Mallorca      4.177632
Tortola                4.177632
Imerovigli             4.177632
Cannes                 4.150980
Stratford-upon-Avon    4.150980
Long Itchington        4.150980
Banbury                4.150980
Grasse                 4.150980
Flushing               4.105556
Lima                   4.105556
Bath                   4.103704
Dubai                  4.100000
Aughrim                4.100000
Boyle                  4.100000
Ho Chi Minh City       4.100000
Harrogate              4.071460
Brunswick              4.065376
Baltimore              4.065376
Keene                  4.065376
Round Pond             4.065376
Port Huron             4.065376
Glendale               4.059033
Las Vegas              4.056971
                         ...
Monte-Carlo            3.673856
Clearwell              3.673856
Cambridge              3.664731
Hartford               3.630514
Portland               3.617295
Augusta                3.614651
Durham                 3.603093
Clonakilty             3.588889
Hoi An                 3.588889
Galveston              3.531183
Hobart                 3.504815
Toshima                3.504815
Shinagawa              3.504815
Seoul                  3.504815
DГјsseldorf            3.504815
Los Angeles            3.245539
Gardermoen             3.150000
Windsor Locks          3.144079
London                 3.089694
Marrakech              3.077451
Boston                 3.072238
Vail                   2.799561
Bordeaux               1.433333
Moon Township          1.421491
Hollywood              1.421491
Greenwood Village      1.421491
Wilmington             1.421491
Findlay Township       1.421491
Milton Keynes          1.288235
Hanoi                  1.033333
Length: 140, dtype: float64